<div class="dashboard">
<mat-card class='mat-elevation-z8'>
  <form [formGroup]="loginForm">

    <mat-card-title class="group-title">
        <h5>Login with Google and Facebook</h5>
    </mat-card-title>
      <mat-card-content>
            <div>
              <mat-form-field  appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="User Name" readonly formControlName="firstName">
              </mat-form-field>
          </div>
        <div>
              <mat-form-field   appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="User Name" readonly formControlName="lastName">
              </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="example-button-row">
          <button mat-button color="primary"  (click)="signInWithGoogle()">Login With Google</button>
          <button mat-button color="primary"  (click)="signoutWithGoogle()">SignOut</button>
        </div>
      </mat-card-actions>
  </form>
</mat-card>
</div>